
body{
	padding: 10px 50px;
}

.table.table-bordered thead tr{
	background-color: #6c6b6b;
    color: white;
}

.table.table-bordered thead tr th.index{
	width: 40px;
}

.table.table-bordered thead tr th.action{
	width: 100px;
}



.table.table-bordered a.action{
    border: none;
    background: transparent;
    color: gray;
}

.table.table-bordered a.action:hover{
    color: black;
}


.table.table-bordered a.action-header{
    border: none;
    background: transparent;
    color: #ffffff;
}

.table.table-bordered a.action-header:hover{
    color: #ffffbb;
}

footer{
	position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: #6c6b6b;
    padding-top: 3px;
    padding-left: 30px;
    color: white;
}

header{
	position: absolute;
    top: 0;
    left: 0;
	height: 50px;
    width: 100%;
    background-color: #6c6b6b;
    padding-top: 3px;
    padding-left: 30px;
    color: white;
}

header h3 , header ul{
	float: left;
}

header ul{
	margin-left: 30px;
}

header ul a.nav-link{
	color: white;
}


header h3 a{
	color: white;
}


header h3 a:hover{
	color: #ffffce;
	text-decoration: none;
}


.container.maincontainer{
	margin-top: 70px;	
}

.main-panel{
	height: calc(100vh - 180px);
}

.main-panel .folder-panel, .main-panel .files-panel {
	height: calc(100vh - 180px);
	background-color: #eaeaea;
}

.main-panel .files-panel {
	background-color: #eaeaea;
	max-width: calc(75% + 10px);
	flex: 0 0 calc(75% + 10px);
	border-radius: .25rem;
}


.main-panel .folder-panel {
	margin-right: 5px;
    padding: 3px;
    max-width: calc(25% - 40px);
    flex: 0 0 calc(25% - 40px);
    border-radius: .25rem;
}

.files-panel .tab-content{
	height: 98%;
}

.files-panel .tab-content .tab-pane , .process-panel .tab-content .tab-pane{
	height: 100%;
}

.files-panel .tab-content .tab-pane .file-list-container , .process-panel .tab-content .tab-pane .file-list-container{
	height: calc(100% - 40px);
    overflow-y: auto;
}

.files-panel .file-list-item , .process-panel .file-list-item{
	height: 30px;
    line-height: 28px;
    padding: 2px 5px 2px 10px;
    margin: 3px 5px 3px 2px;
    font-size: 14px;
}

.file-list-item.nosub{
    background-color: #c4e6c8;
}

.files-panel .file-list-item.hassub , .process-panel .file-list-item.hassub{
    background-color: #c2cde7;
}

.files-panel .file-list-item .filename , .process-panel .file-list-item .filename{
	margin-right: 5px;
}

.file-list-item button, .folder-title button{
	margin: 0 5px;
	border: none;
	background-color: transparent;
	padding: 0;
}

.file-list-item button i.material-icons, 
.file-list-item a i.material-icons, 
.folder-title button i.material-icons{
	top: 4px;
	font-size: 22px;
	color: #5f5e5e;
}

.file-list-item button:hover i.material-icons, 
.file-list-item a:hover i.material-icons{
	color: #7b424b;
}

.add-sub-title{
	font-size: 16px;
	margin: 10px;
	margin-bottom: 20px;
	
}

.modal-header{
	padding: 5px;
    padding-left: 15px;
    background-color: #00408b;
    color: white;
}

.modal-header button{
	padding: 5px;
    margin: 0;
    color: white;
}

.lenguage-select{
	margin-left: 20px;
    width: 120px;
}

.tab-content.main-tab-content {
    padding-top: 10px;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-top: none;
    height: calc(100vh - 160px);
}

.process-panel span, .process-panel button, .process-panel a{
	float: left;
}

.process-panel span{
	margin-right: 10px;
}

.process-panel .progress {
    width: 200px;
    display: inline-block;
    height: 20px;
    float: left;
    margin: 3px 10px; 
    
}

.process-panel .progress .progress-bar{
    height: 20px;
}

.form-container-parent{
	width: 100%
	margin-top: 50px;
}

.form-container{
	margin: 0 50px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 20px;
}

.form-container .form-message-error {
    display: inline-block;
    min-height: 20px;
    width: calc(100% - 290px);
    margin-left: 20px;
    font-size: 14px;
    color: #dc3545;
}

.subtitle-list-container{
	height: calc(100vh - 150px);
	overflow: auto;	
}

.folder-title{
	font-size: 20px;
	position: relative;
}

.folder-title label{
	font-size: 16px;
	height: 24px;
	margin: 0 5px 0 20px;
	position: absolute;
	right: 230px;
	top: 4px;
}

.folder-title input.filter{
	font-size: 14px;
	height: 24px;
	position: absolute;
	right: 6px;
	width: 220px;
	top: 4px;
}

.folder-title button{
	position: absolute;
	right: 0px;
	top: 4px;
}

